<div class="@ClassName" @onclick="@handleClick">
</div>

@code {

    [Parameter]
    public Cell cell { get; set; }

    [Parameter]
    public EventCallback<Move> OnClick { get; set; }

    private string ClassName => $"cell {cell.color.ToString().ToLower()}";

    private void handleClick()
    {
        OnClick.InvokeAsync(new Move(cell.x, cell.y));
        Console.WriteLine($"Clicked: {cell.x}, {cell.y}");
        StateHasChanged();
    }

}
